<!-- section header -->
<header class="head_section center_section">
    <div class="container">
        <h2>Our Awesome Services</h2>
        <div class="separator"></div>
        <p>Indulge in one of our packages and enjoy a stay filled with our most popular treatments. </p>
    </div><!-- end .container -->
</header>
<!-- //section header -->

<!-- section content -->
<div class="portfolio-block">
    <div class="container wow fadeInUp">
        <ul class="portfolio-menu" id="filters">
            <li class="active"><a data-filter="*">All</a></li>
            <li><a data-filter=".facials">Facials</a></li>
            <li><a data-filter=".injectables">Injectables</a></li>
            <li><a data-filter=".eye-lash">Eye-Lash Extensions</a></li>
        </ul>
        <div class="row portfolio-list image-grid">
            <div class="item col-md-4 col-sm-4 col-xs-12 eye-lash">
                <a href="<%= asset_path('portfolio/zoom/eye-lash-extension.jpg') %>" class="prettyPhoto" data-rel="prettyPhoto[portfolio55]">
                    <img src="<%= asset_path('portfolio/eye-lash-extension.jpg') %>" alt="">
                    <div class="caption">
                        <div class="info">
                            <h4>Eye Lash Extensions</h4>
                            <div class="separator"></div>
                            <p></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item col-md-4 col-sm-4 col-xs-12 facials">
                <a href="<%= asset_path('portfolio/zoom/facials.jpg') %>" class="prettyPhoto" data-rel="prettyPhoto[portfolio55]">
                    <img src="<%= asset_path('portfolio/facials.jpg') %>" alt="">
                    <div class="caption">
                        <div class="info">
                            <h4>Facials</h4>
                            <div class="separator"></div>
                            <p></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item col-md-4 col-sm-4 col-xs-12 injectables">
                <a href="<%= asset_path('portfolio/zoom/lip-augmentation.jpg') %>" class="prettyPhoto" data-rel="prettyPhoto[portfolio55]">
                    <img src="<%= asset_path('portfolio/lip-augmentation.jpg') %>" alt="">
                    <div class="caption">
                        <div class="info">
                            <h4>Lip Augmentation</h4>
                            <div class="separator"></div>
                            <p></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item col-md-4 col-sm-4 col-xs-12 facials">
                <a href="<%= asset_path('portfolio/zoom/gold-mask.jpg') %>" class="prettyPhoto" data-rel="prettyPhoto[portfolio55]">
                    <img src="<%= asset_path('portfolio/gold-mask.jpg') %>" alt="">
                    <div class="caption">
                        <div class="info">
                            <h4>Gold Mask</h4>
                            <div class="separator"></div>
                            <p></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item col-md-4 col-sm-4 col-xs-12">
                <a href="<%= asset_path('portfolio/zoom/ultra-cavitation.jpg') %>" class="prettyPhoto" data-rel="prettyPhoto[portfolio55]">
                    <img src="<%= asset_path('portfolio/ultra-cavitation.jpg') %>" alt="">
                    <div class="caption">
                        <div class="info">
                            <h4>Ultra Cavitation</h4>
                            <div class="separator"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item col-md-4 col-sm-4 col-xs-12">
                <a href="<%= asset_path('portfolio/zoom/electro-cautery.jpg') %>" class="prettyPhoto" data-rel="prettyPhoto[portfolio55]">
                    <img src="<%= asset_path('portfolio/electro-cautery.jpg') %>" alt="">
                    <div class="caption">
                        <div class="info">
                            <h4>Electro Cautery</h4>
                            <div class="separator"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item col-md-4 col-sm-4 col-xs-12">
                <a href="<%= asset_path('portfolio/zoom/anti-cellulite.jpg') %>" class="prettyPhoto" data-rel="prettyPhoto[portfolio55]">
                    <img src="<%= asset_path('portfolio/anti-cellulite.jpg') %>" alt="">
                    <div class="caption">
                        <div class="info">
                            <h4>Anti-Cellulite</h4>
                            <div class="separator"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item col-md-4 col-sm-4 col-xs-12 injectables">
                <a href="<%= asset_path('portfolio/zoom/injectable.jpg') %>" class="prettyPhoto" data-rel="prettyPhoto[portfolio55]">
                    <img src="<%= asset_path('portfolio/injectable.jpg') %>" alt="">
                    <div class="caption">
                        <div class="info">
                            <h4>Platelet Rich Plasma</h4>
                            <div class="separator"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item col-md-4 col-sm-4 col-xs-12 facials">
                <a href="<%= asset_path('portfolio/zoom/ipeel.jpg') %>" class="prettyPhoto" data-rel="prettyPhoto[portfolio55]">
                    <img src="<%= asset_path('portfolio/ipeel.jpg') %>" alt="">
                    <div class="caption">
                        <div class="info">
                            <h4>IPeel</h4>
                            <div class="separator"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item col-md-4 col-sm-4 col-xs-12 facials">
                <a href="<%= asset_path('portfolio/zoom/perfect-derma-peel.png') %>" class="prettyPhoto" data-rel="prettyPhoto[portfolio55]">
                    <img src="<%= asset_path('portfolio/perfect-derma-peel.jpg') %>" alt="">
                    <div class="caption">
                        <div class="info">
                            <h4>Perfect Derma Peel</h4>
                            <div class="separator"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="app-item"><a class="shortcode_button add-item">Load More</a></div>
    </div>
</div>
<!-- //section content -->
