<head>

  <!-- Great Vibes Font -->
  <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- Google Font -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Css Files -->
  <link href="<%= asset_path('plugins.css') %>"    rel="stylesheet" type="text/css">
  <link href="<%= asset_path('homePopup.css') %>"  rel="stylesheet" type="text/css">
  <link href="<%= asset_path('style-pink.css') %>" rel="stylesheet" type="text/css">
  <link href="<%= asset_path('responsive.css') %>" rel="stylesheet" type="text/css">
  <link href="<%= asset_path('animate.css') %>"    rel="stylesheet" type="text/css">

  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

</head>
<body>
	<!-- Preloader -->
    <div id="preloader">

      <div id="status"></div>

    </div>
  <!--//Preloader -->

  <!-- #page -->
  <div id="page">

  <!-- header section -->
  <div id="topping"></div>
    <section id="top">

      <%= render 'welcome/navmenu'%>

    </section>
    <!-- //end header section -->


    <!-- home content -->
    <section id="home">

    	<%= render 'welcome/slideshow'%>

    </section>
    <!-- //end home content -->

    <!-- start content -->
    <section class="page_section">

      <%= render 'welcome/headsection'%>

    </section>
    <!-- //end start content -->

    <!-- about content-->
    <section class="page_section" id="about">

        <%= render 'welcome/about'%>

    </section>
    <!-- //end about content-->


    <!-- services content -->
    <section class="page_section" id="services">

      <%= render 'welcome/services'%>

    </section>
    <!-- //end services content-->


    <!-- team content -->
    <section class="page_section" id="staff">

      <%= render 'welcome/team' %>

    </section>
    <!-- //end team content -->


    <!-- portfolio content-->
    <section class="page_section" id="portfolio">

      <%= render 'welcome/portfolio'%>

    </section>
    <!-- //end portfolio content-->


    <!-- pricing content -->
    <section class="page_section">

      <%# render 'welcome/pricing'%>

    </section>
    <!-- //end pricing content


    <!-- news content -->
    <section class="page_section">
        <%# render 'welcome/news'%>
    </section>


    <!-- contact content-->
    <section class="page_section" id="contact">

      <%= render 'messages/new' %>

    </section>
    <!-- //end contact content-->


    <!-- map section -->

      <%= render 'welcome/map'%>

		<!-- /end map section -->


    <!--footer-->

      <%= render 'welcome/footer'%>

    <!--//footer-->

  </div><!-- end #page -->

  <!-- <header class="fixed-menu"></header> -->


  <!-- javascript files-->
	<script type="text/javascript" src="<%= asset_path('jquery.isotope.min.js') %>"></script>
	<script type="text/javascript" src="<%= asset_path('sorting.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('homePopupLoad.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('homePopup.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('plugins.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('current.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('wow.min.js') %>"></script>

  <!-- animation on scrolling-->
	<script>
  	new WOW().init();
  </script>

  <!-- <script> -->
	<!-- portfolio load more button-->
		<!-- // items_set = [
		// 	{src :'assets/portfolio/10.jpg', url :'#', sortcategory:'cosmetic', zoomurl:'assets/portfolio/zoom/10.jpg', title:'Cosmetic', description:'Ut enim ad minima veniam, quis nostrum exercitationem ullam.'},
		// 	{src :'assets/portfolio/11.jpg', url :'#', sortcategory:'massage', zoomurl:'assets/portfolio/zoom/11.jpg', title:'Hot spring', description:'Ut enim ad minima veniam, quis nostrum exercitationem ullam.'},
		// 	{src :'assets/portfolio/12.jpg', url :'#', sortcategory:'therapy', zoomurl:'assets/portfolio/zoom/12.jpg', title:'Therapy', description:'Ut enim ad minima veniam, quis nostrum exercitationem ullam.'}
		// ];
		// jQuery('.portfolio-list').portfolio_addon({
		// 	load_count : 3,
		// 	items : items_set
		// }); -->
	<!-- </script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	</body>
