<h2>What we sell:</h2>

<%= link_to "Ageless", controller: "products", action: "listing", collection: "ageless" %>
<%= link_to "Vital-C", controller: "products", action: "listing", collection: "vital-c" %>
<%= link_to "Ormedic", controller: "products", action: "listing", collection: "ormedic" %>
<%= link_to "Clear-Cell", controller: "products", action: "listing", collection: "clear-cell" %>
<%= link_to "The-Max", controller: "products", action: "listing", collection: "the-max" %>
<%= link_to "Iluma", controller: "products", action: "listing", collection: "iluma" %>
<%= link_to "Prevention", controller: "products", action: "listing", collection: "prevention" %>
<%= link_to "Body-Spa", controller: "products", action: "listing", collection: "body-spa" %>
<%= link_to "Ageless-Lashes", controller: "products", action: "listing", collection: "ageless-lashes" %>
<%= link_to "I-Beauty", controller: "products", action: "listing", collection: "i-beauty" %>
<%= link_to "Image-MD", controller: "products", action: "listing", collection: "image-md" %>
<%= link_to "I-Peel", controller: "products", action: "listing", collection: "i-peel" %>
<%= link_to "O2-Lift", controller: "products", action: "listing", collection: "o2-lift" %>
<%= link_to "Home", root_path %>