<% @products.select do |item| %>
  <% if item.collection == params[:collection] %>
    <li><%= item.name %></li>
    <li><%= item.description %></li>
    <li><%= item.skintype %></li>
    <li><%= item.benefits %></li>
    <li><%= item.directions %></li>
    <li><%= item.image %></li>
  <% end %>
<% end %>