<head>

  <!-- Great Vibes Font -->
  <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- Google Font -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Css Files -->
  <%= stylesheet_link_tag 'plugins' %>
  <%= stylesheet_link_tag 'style-pink' %>
  <%= stylesheet_link_tag 'responsive' %>
  <%= stylesheet_link_tag 'animate' %>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</head>
<section id="top">
<header>
  <div class="container">
    <!-- logo -->
    <div>
        <a href="/"><p class="top-title">La Dolce Vita Med Spa</p></a>
    </div>

    <!-- menu -->
    <nav class="navmenu">
        <ul>
          <li><%= link_to "Products", :back %></li>
        </ul>
    </nav><!-- end menu -->
    <div class="clear"></div>
  </div>
</header>
</section>




<main>
  <%= image_tag @product.image, width: "14%", height: "auto", class: "center-block" %>
     
  <div class="container modal-body">
    <h3><%= @product.name.upcase %></h3>
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#product-desc">Description</a></li>
          <li><a data-toggle="tab" href="#product-skintype">Skintype</a></li>
          <li><a data-toggle="tab" href="#product-benefits">Benefits</a></li>
          <li><a data-toggle="tab" href="#product-directions">Directions</a></li>
        </ul><br>

        <div class="tab-content">
          <div id="product-desc" class="tab-pane fade in active">
            <p><%= @product.description || "No information available" %></p>
          </div>
          <div id="product-skintype" class="tab-pane fade">
            <p><%= @product.skintype || "No information available"  %></p>
          </div>
          <div id="product-benefits" class="tab-pane fade">
            <p><%= @product.benefits || "No information available" %></p>
          </div>
          <div id="product-directions" class="tab-pane fade">
            <p><%= @product.directions || "No information available"%></p>
          </div>
        </div>
  </div>


</main>




<!-- //section content -->
  <!-- javascript files-->
	<script type="text/javascript" src="<%= asset_path('jquery.isotope.min.js') %>"></script>
	<script type="text/javascript" src="<%= asset_path('sorting.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('plugins.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('current.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('wow.min.js') %>"></script>

  <!-- animation on scrolling-->
	<script>
  	new WOW().init();
  </script>

  <!-- <script> -->


  <div class="container">
      <%= link_to 'Back', :back %>
  </div>
