<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

  <title>La Dolce Vita | Med Spa</title>
  
  <%= render 'layouts/head' %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  
<%= render 'layouts/nav' %>

<%= yield %>
  
  
  <!-- javascript files-->
	<script type="text/javascript" src="<%= asset_path('jquery.isotope.min.js') %>"></script>
	<script type="text/javascript" src="<%= asset_path('sorting.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('homePopupLoad.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('homePopup.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('plugins.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('current.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('wow.min.js') %>"></script>

  <!-- animation on scrolling-->
	<script>
  	new WOW().init();
  </script>

  <!-- <script> -->

</body>
</html>
